*, *::before, *::after {
  animation: none !important;
  caret-color: transparent !important;
  transition: none !important;
}

#generation-result,
body:not(.visualize-generation-batches) #generation-variants {
  display: none !important;
}

time,
[data-countdown] {
  visibility: hidden !important;
}
